@media (min-width: 1025px)
{
	.leftad{
	padding-left: 200px;
	}
	.leftad2{
	padding-left: 230px;
	}
	img.kappa{
		width: 100%;
		height: 500px;
	}
	.footad2
	{
		padding-top: 25px ;
		text-align: center;
	}
}
@media (max-width: 1024px)
{
	.leftad4{
		padding-left: 170px;
		}
	.leftad2{
		padding-left: 200px !important;
		}
	.imgad{
		width: 180px !important;
	}
	.pkad{
		float: right;
		position: absolute;
		bottom:30px;
		right:40px;
	}
	.pkad2{
		position: relative;
	}
	.vnizad{
		padding-top: 55px;
	}
	.panel228{
		padding-top: 25px;
		padding-right:70px;
		font-size:18px;
	}
	img.kappa2{
		width: 100%;
	}
	.footad{
		text-align: center;
		font-size: 18px;
	}
	.footad2
	{
		padding-top: 25px ;
		text-align: center;
	}
	.foot3{
		font-size:16px;
		text-align: center !important;
	}
	.capadd{
		padding-left: 170px;
	}
	.ff{
		font-size: 10px !important;
	}
}

@media (max-width: 812px)
{
	.leftad4{
		padding-left: 0;
		}
	.imgad{
		width: 100% !important;
	}
	.adadad{
		margin-left: 2px;
	}
	.leftad{
		padding-left: 0px;
		}
	.capadd{
		padding-left: 0px;
	}
	.leftad2{
		padding-left: 0;
		}
	img.kappa3{
		width: 100%;
	}
	img.kappa5{
		width: 260px;
	}
	.oklogo{
		padding-right: 10px;
		text-align: center;
		font-size: 23px;
	}
	.pkad3{
		position: relative;
	}
	.pkad4{
		position: absolute;
		margin-top: 70px;
	}
	.pkad5{
		position: absolute;
		top:100px;
	}
	.foot2{
		font-size:15px;
		text-align: left;
	}
	.objad{
		padding-bottom: -20px;
	}
}

@media (max-width: 670px)
{
}

@media (max-width: 480px)
{

}

@media (max-width: 400px)
{

}

@media (max-width: 320px)
{
	.capadd2{
		margin-right: 40px;
	}
	.foot2{
		font-size:13px;
		text-align: left;
	}
	.pkad3{
		position: relative;
	}
	.pkad4{
		position: absolute;
		left: 0;
	}
	.search-form-input {
		margin-right: 50px;
		max-width: 400px;
		height: 35px;
		padding: 0 1rem;
		border: 0px solid #d5d5d5;
		background: transparent;
		font-family: Tahoma, sans-serif;
		font-size: 17px;
	  }
	.line2{
		padding-left: 10px;
		width: 90%;
	}
}